---
layout: default
---

<article class="posts">

  <h1>{{ page.title }}</h1>

  <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
    <input name="sitesearch" type="hidden" value="shaoweilin.github.io">
    <input autocomplete="on" class="form-control search" name="q" placeholder="Search this site" required="required"  type="text">
    <button class="button" type="submit">Search</button>
  </form>

  <div class="entry">
    {{ content }}
  </div>
</article>
